<h1> Isabel Zhang </h1>

<body>

<h2>I can play Tetris pretty well.</h2>
<img src="http://web-vassets.ea.com/Assets/Richmedia/Image/Screenshots/tetris-wp7-screens-01_656x369.jpg?cb=1412974734" alt="Tetris" style="width:304px;height:228px;">

<h2>Also my favorite GIF.</h2>
<img src="https://cdn2.vox-cdn.com/thumbor/L1F9k6HulhYeJQ5pEGC-lzRT4kc=/cdn0.vox-cdn.com/uploads/chorus_asset/file/655222/tumblr_lmpg9jl57d1qfeod9.0.gif" alt="Pikachu" style="width:304px;height:228px;">

</body>